<h2><%= @user.name %></h2>
<% if current_user.inventor%>
<h2>Inventions:</h2>
<ul>
  <% @user.inventions.each do |inv|%>
    <li><%= link_to inv.name, user_invention_path(inv.user, inv)%></li>
  <%end%>
</ul>
<br/>
<%= link_to 'New invention', new_user_invention_path(@user)%>
<%end%>

<% if current_user.investor%>
<h3>Investments:</h3>

<ul>
  <% @user.invention_investments.each do |inv|%>
    <li>Invention: <%=inv.invention.name%></li>
    <li>Invested:$ <%= link_to inv.amount, user_invention_investment_path(inv.user, inv)%></li> <br/>
  <%end%>
</ul>
<br/>
<%= link_to 'New Investment', new_user_invention_investment_path(@user)%>
<%end%>
