<h1> Investors</h1>

<%= link_to 'Login With Password', investor_signin_path %>
<%= link_to "Log Out", investor_logout_path, method: :delete %>

<h1>Sign Up</h1>
<%= form_for @investor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <br />
  <%= f.label :password %>
  <%= f.text_field :password %><br />
  <br />
  <br />
  <%= f.submit %>
<% end %>
