<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <title>SharkkTankk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



      <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav">
            <% if logged_in?%>
              <li><%=link_to'LOGOUT', logout_path, method: :delete%></li>
              <li><%= link_to 'HOME', user_path(current_user.id)%></li>
              <li><%=link_to "INVENTIONS", inventions_path %></li>
              <li><%=link_to "INVESTMENTS", invention_investments_path %></li>
            <% end %>
        </ul>

<%=yield%>
  </body>
</html>
